.app {
    min-height: 100vh;
    font-size: 1.6rem;

    .aside {
        color: #FFFFFF;
        position: fixed;
        left: 0;
        overflow-y: auto;
        height: 100vh;
       
        .logo {
            text-align: center;
            margin-top: 20px;
        }
    }

    .header {
        background: #FFFFFF;
        height: 6.4rem;
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        justify-content: space-between;
        .header-right{
          a{
              color: black;
          }
        }
    }

    .content {
        background: #F0F2F5;
        padding: 10px 18px; 
        width: auto !important;
        margin-left: 200px;
    }

}